  /* Default font size */
      .logo a {
        font-size: 24px;
      }
      /* Adjust font size for smaller screens */
      @media only screen and (max-width: 768px) {
        .logo a {
          font-size: 18px;
        }
      }

@media (max-width: 768px) {
  .text-logo {
    display: none;
  }
}

.centered {
  text-align: center;
  margin: 0 auto;
}
